@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat&family=Sacramento&family=Ubuntu:wght@300&family=Varela+Round&display=swap");

body {
  font-family: "Ubuntu", sans-serif !important;
  background-color: #eee8e4 !important;
}

.contact-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
